@import "~bootstrap";

body {
    background-color: rgb(29, 29, 29);
}

a {
    text-decoration: none;
}

.bg_container {
    background-color: rgb(29, 29, 29);
  }

.cards_box {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 2em 0;
position: relative;
}

.card {
flex: 0 0 calc(100% / 6);
}

.card {
text-align: center;
padding: .1rem;
    .contents {
        padding: 1em;
        height: 100%;
        h2 {
        color: white;
        font-size: 1.2rem;
        }
        &:hover {
        transform: scale(1.1);
        }
    }
}
